<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
         <tr>Admin Registration</tr>
         <td>Name</td>
         <td><input type="text" name="txtname" id="txtname" ></td>
         <td>Email</td>
         <td><input type="email" name="txtemail" id="txtemail" ></td>
         <td>Password</td>
         <td><input type="password" name="txtpass" id="txtpass" ></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Submit"></td>
        </tr>
    </table>
</body>
</html>